/* --- Colors --- */
/*
main color: #3dafaf
light color: #58c7c6
grey: #a9a9a9
light grey: #c3c3c3
*/

body {
  font-size: 16px;
  font-family: 'Arimo', sans-serif;
}
.container {
  max-width: 800px;
  margin: auto;
}
h1 {
  color: #3dafaf;
}
img {
    max-width: 100%;
}
.gallery-item {
    width: 20%;
    display: inline-block;
    margin: 1rem;
    border-bottom: 2px solid #58c7c6;
    background-color: #c3c3c3;
}
